<center>
    <div><img src="~/PHS/logomvc.png" width="400px" /></div>
    <h2>Home Page</h2>
    <div>
        @Html.ActionLink("Summary of Books", "Main_Load", "Main")
    </div>
    <div>
        @Html.ActionLink("Profile Details", "Profile_Load", "Profile")
    </div>
    <div>
        @Html.ActionLink("Home Page", "Profile_Load", "Profile")
    </div>
</center>